*~

.lock

*.DS_Store

*.xcworkspace

*.xcuserstate

Pods

Pods/

xcuserdata/

## Build generated

build/

DerivedData/

UserInterfaceState.xcuserstate

*.xcscmblueprint

Podfile.lock

Breakpoints_v2.xcbkptlist
.sonar/.sonar_lock
.sonar/report-task.txt